html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #cb5419;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

h1 {
  text-align: center;
  text-decoration: none;
  font-size: 45px;
  margin-left: 7px;
}

.word-section {
  display: flex;
  justify-content: center;
  padding-block: 5px;
}

.word-section:first-child {
  margin-top: 70px;
}

.input {
  width: 38px;
  height: 38px;
  margin-inline: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  outline: none;
  cursor: default;
  text-transform: uppercase;
  border: 3px inset #823208;
}

.gray {
  color: white;
  background-color: rgb(153, 153, 153);
}

.green {
  color: white;
  background-color: rgb(92, 170, 37);
}

.yellow {
  color: white;
  background-color: rgb(202, 202, 0);
}

.game-end-window {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 230, 201, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-end-box {
  width: 40%;
  height: 30%;
  background-color: rgb(254, 242, 227);
  border-radius: 15px;
  border: 5px solid rgb(237, 188, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-end-text {
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 800;
  text-shadow: 2px 2px 2px gray;
  margin: 0;
  margin-block: 3%;
  padding: 0;
}

.again-button {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  background-color: rgb(255, 221, 177);
  font-size: 15px;
  font-weight: 800;
  border-color: rgb(237, 188, 123);
  border-width: 3px;
}

.again-button:hover {
  cursor: pointer;
}
